body {
	margin: 0;
	padding: 0:;
	vertical-align: center;


}
header {
	height: 200px
}
.google_logo img {
	display: block;
	margin: auto;
	display: flex;
  align-items: center;
  z-index: -1;
}
.search_box {


}
.search input { display: block;
 		margin: 0 auto; 
 		height: 34px;  
 		width: 403px; 
 		font: 16px arial sans-serif; 
 		line-height: 34px; 
 		height: 34px;
 		z-index: -1;
 		border-style: : 1px 1px 2px 1px;
 		margin-bottom: 10px;


    }
.center{
	position: static;
	left: 0;
	top:50%;
	width: 100%;
	align-items: center;
	font-size: 18px;
	vertical-align: top;

}
section {

}

.btn_1 input {
	float: left;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	min-width: 54px;
	padding: 11px 4px;
	text-align: center;
	display: inline-block;
	height: 36px;
  	align-items: center;
  	margin-right: static:5%;
  	margin-left: 40%;
  	
}

.btn_2 input { 
	float: right;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	min-width: 54px;
	padding: 11px 4px;
	text-align: center;
	display: inline-block;
	height: 36px;
	margin-left: 1%;
	margin-right: 40%;
}
p{
	clear:right;
	display: block; 
	margin: 0;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: small;
	padding-top: 20px;

	
}

.chinese p {
	width: 200px;
	height:
	position: relative;
	color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    top: 76px;
    white-space: nowrap;
    display: block;
    margin: auto;
    width: 32px;
    height: 16px;
    padding-left: 200px;
    border-bottom-width: 10px;
    padding-top: 0px;
}
.mic img {
	position: static;
	right: 400px;
	width: 30px;
	display: inline-block;
	vertical-align: center;
	margin-left: 70%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	padding-right: 30px;
	padding-left: 30px;

}
li {
	display: inline;
	float: right;
	float: top;
	padding: 10px;

}

.blue a {
	color:#fff;
	cursor: default;
	text-decoration: none;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	background: -webkit-linear-gradient (top, #4387fd, #4683ea);
	display: inline;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;
	font-family: arial, sans-serif;
}
footer {
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	color: #757575;
	position: relative;
	bottom: 0;
	text-align: center;
	font-family: arial, sans-serif;
	margin-top: 20%;
}

.foot_l {
	display: inline;
	float:left;
	
	font-size: 13px;
	text-decoration: none;
}
.foot_r {
	display: inline;
	float:right;

	font-size: 13px;
}

a {
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: center;
}
a:hover	{
	text-decoration: underline;

}
input {
	display: inline;
}